nicerapp/domainConfigs/localhost_v2/couchdb.json
nicerapp/domainConfigs/localhost_v2/index.combined.*
nicerapp/domainConfigs/nicerapp_v2/couchdb.json
nicerapp/domainConfigs/nicerapp_v2/index.combined.*
nicerapp/domainConfigs/said.by/couchdb.json
nicerapp/3rd-party/jQuery/poshytip/
nicerapp/key.youtube.txt
nicerapp/siteData/*
nicerapp/siteCache/*
nicerapp/siteMedia/backgrounds/*
nicerapp/siteMedia.thumbs/*
zoned.at/
upgrade_globalsClient_*.sh
