nicerapp/domainConfigs/localhost_v2/couchdb.json
#nicerapp/domainConfigs/localhost_v2/index.combined.*
nicerapp/domainConfigs/nicerapp_v2/couchdb.json
#nicerapp/domainConfigs/nicerapp_v2/index.combined.*
