html, body {
    padding : 0;
    margin : 0;
    font-family: 'Open Sans', sans-serif;
    overflow : hidden;
}
#siteBackground {
    position:absolute;
}
#siteBackground img {
    display : none;
}

#siteContent {
    top : 48vh;
    height : 4vh;
    left : 48vw;
    width : 4vw;
    border-radius : 20px;
}
.vividDialogContent {
    overflow:auto;
    display : none;
    margin : 10px;
    width : calc(100vw - 100px);
    height: calc(100vh - 120px);
}


.vividButton, .vividMenu, .vividDialog {
    position : absolute;
    display : none;
    font-size : 1rem;
}
.vividButton {
    display : flex;
    justify-content : center;
    align-items : center;
    text-align : center;
    width : 200px;
    height : 1rem;
    font-size : 1rem;
    font-weight : bold;
}

#siteContent.started {
    animation : anim_siteContent_started 0.7s;
    animation-fill-mode : forwards;
    animation-timing-function : cubic-bezier(1,1,0,1);
}
@keyframes anim_siteContent_started {
    100% {
        top : calc(1vh + 4rem);
        left : 1vw;
        width : 98vw;
        height : calc(98vh - 4rem);
    }
}

#siteMenu.started {
    animation : anim_siteMenu_started 0.7s;
    animation-fill-mode : forwards;
    animation-timing-function : cubic-bezier(1,1,0,1);
}
@keyframes anim_siteMenu_started {
    100% {
        top : 1vh;
        left : calc(2vw + 300px);
        width : 5vw;
        height : 2rem;
    }
}


#siteDateTime {
    top : 1vh;
    left : -10vh;
    width : 250px;
    height : 2rem;
    font-size : 1rem;
    font-weight : bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius : 10px;
}
#siteDateTime.started {
    animation : anim_siteDateTime_started 0.7s;
    animation-fill-mode : forwards;
    animation-timing-function : cubic-bezier(1,1,0,1);
}
@keyframes anim_siteDateTime_started {
    100% {
        left : 1vw;
    }
}

select, optgroup {
    font-size : 2rem;
}

.selfHealerMsg {
    font-weight : bold;
}
.selfHealerDbg {
    color : rgba(150,150,150,1);
}
.selfHealerResult {
    color : rgba(150,150,255,1);
}
.selfHealerFailed {
    color : rgba(255,150,150,1);
}
.selfHealerWarning {
    color : rgba(235,161,52,1);
}
















.mainTooltipTheme .tooltipster-box {
    width : 120%;
    border-radius : 7px;
    border : 1px solid yellow;
    box-shadow : 2px 2px 1px rgba(0,0,0,0.7), 0px 0px 7px rgba(50,255,50,0.7);
    /*background : url('/nicerapp/siteMedia/backgrounds/tiled/active/grey/seamless_texture_of_ice.jpg') repeat;*/
    background : rgba(255,255,255,0.7);
    opacity : 1;
    color : black;
}
.mainTooltipTheme .tooltipster-content {
    color : black;
    font-family : Architects Daughter;
    font-size : 15px;
    padding : 8px 10px;
   /* animation : mainTooltipThemeAnim 2s infinite;*/
    border-radius : 7px;
}
/*
@keyframes mainTooltipThemeAnim {
    0% {
        background : rgba(50,50,255,0)
    }
    50% {
        background : rgba(50,50,255,0.33)
    }
    100% { 
        background : rgba(50,50,255,0)
    }
}

@keyframes mainTooltipThemeAnim2a {
    0% {
        border-bottom-color : rgba(255,255,255,0)
    }
    50% {
        border-bottom-color : rgba(50,50,255,0.7)
    }
    100% { 
        border-bottom-color : rgba(255,255,255,0)
    }
}
@keyframes mainTooltipThemeAnim2b {
    0% {
        border-left-color : rgba(255,255,255,0)
    }
    50% {
        border-left-color : rgba(50,50,255,0.7)
    }
    100% { 
        border-left-color : rgba(255,255,255,0)
    }
}
@keyframes mainTooltipThemeAnim2c {
    0% {
        border-right-color : rgba(255,255,255,0)
    }
    50% {
        border-right-color : rgba(50,50,255,0.7)
    }
    100% { 
        border-right-color : rgba(255,255,255,0)
    }
}
@keyframes mainTooltipThemeAnim2d {
    0% {
        border-top-color : rgba(255,255,255,0)
    }
    50% {
        border-top-color : rgba(50,50,255,0.7)
    }
    100% { 
        border-top-color : rgba(255,255,255,0)
    }
}
*/


.mainTooltipTheme.tooltipster-sidetip .tooltipster-arrow-background {
	/*border: 10px solid transparent;*/
}

.mainTooltipTheme.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-background {
	border-bottom-color: white;
    /*animation : mainTooltipThemeAnim2a 2s infinite;*/
	left: 0;
	top: 3px;
}

.mainTooltipTheme.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-background {
	border-left-color: white;
    /*animation : mainTooltipThemeAnim2b 2s infinite;*/
	left: -3px;
	top: 0;
}

.mainTooltipTheme.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-background {
	border-right-color: white;
    /*animation : mainTooltipThemeAnim2c 2s infinite;*/
	left: 3px;
	top: 0;
}

.mainTooltipTheme.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-background {
	border-top-color: white;
    /*animation : mainTooltipThemeAnim2d 2s infinite;*/
	left: 0;
	top: -3px;
}

/* .tooltipster-arrow-border */

.mainTooltipTheme.tooltipster-sidetip .tooltipster-arrow-border {
	/*border: 10px solid transparent;*/
	left: 0;
	top: 0;
}

.mainTooltipTheme.tooltipster-sidetip.tooltipster-bottom .tooltipster-arrow-border {
	border-bottom-color: yellow;
}

.mainTooltipTheme.tooltipster-sidetip.tooltipster-left .tooltipster-arrow-border {
	border-left-color: yellow;
}

.mainTooltipTheme.tooltipster-sidetip.tooltipster-right .tooltipster-arrow-border {
	border-right-color: yellow;
}

.mainTooltipTheme.tooltipster-sidetip.tooltipster-top .tooltipster-arrow-border {
	border-top-color: yellow;
}
