.newsApp_header {
    font-size : 100%;
    color : white;
    text-shadow: -1px -1px 1px rgba(255, 255, 255,1), 2px 2px 2px rgba(0,0,0,1);
}

.newsApp__header__datetime {
    color : #EEE;
    font-size : 70%;
}

.newsApp__header__displayCounts {
    color : lime;
}

.newsApp_header {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5);
}

.newsApp__item__outer {
    text-shadow: -1px -1px 1px rgba(255, 255, 255, 0.5);
}

.newsApp__item__title { font-weight : bold; }
.newsApp__item__desc { }
.newsApp__item__url { }
.newsApp__item__category { color : #CCCCCC; }
.newsApp__item__categoryTitle { }
.newsApp__item__categoryColon { }
.newsApp__item__categoryValue { }

.newsApp__item__date { }
.newsApp__item__date__local { color : #CCCCCC; }
.newsApp__item__date__remote { color : #888888; }

.newsAppTooltipTheme.tooltipster-sidetip .tooltipster-box {
	background: black;
	border: 1px solid yellow;
	border-radius: 6px;
    opacity : 0.9;
	box-shadow: 5px 5px 2px 0 rgba(0,0,0,0.4), -2px -2px 2px 0 rgba(0,255,255,0.7);
}

.newsAppTooltipTheme.tooltipster-sidetip .tooltipster-content {
	color: #DDD;
	padding: 8px;
}



#siteContent .vividDialogContent {
    display : flex;
    flex-wrap : wrap;
    justify-content : center;
    align-items : center;
    background : rgba(0,0,0,0.2);
}

.loading {
    height : 280px;
    display : flex;
    justify-content : center;
    align-items : center;
    text-align:center;
}

.loader {
    flex : 0 0 300px;
    position: relative;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
    animation: animate 1.2s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.loader span {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: linear-gradient(#f07e6e, #84cdfa, #5ad1cd);
}

.loader span:nth-child(1) {
    filter: blur(5px);
}

.loader span:nth-child(2) {
    filter: blur(10px);
}

.loader span:nth-child(3) {
    filter: blur(25px);
}

.loader span:nth-child(4) {
    filter: blur(50px);
}

.loader:after {
    content: '';
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
    background: rgba(0,0,0,0.5);
    border: solid white 10px;
    border-radius: 50%;
}
.loaderAfter {
    flex : 0 0 100%;
    width: 300px;
    color : white;
    font-weight : bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align : center;
}
