body {
    background : url('/nicerapp/siteMedia/backgrounds/tiled/active/grey/117802292-seamless-texture-of-paving-stones-gray-tile-background-.jpg') repeat;
}

.vividDialog {
    scrollbar-color : lime rgba(0,0,0,0.5);
    border : 3px ridge lime;
    background : rgba(0,0,0,0.5);
    color : white;
    box-shadow : 7px 7px 5px rgba(0,0,0,0.7), inset -2px -2px 2px rgba(0,0,0,0.8), inset 2px 2px 2px rgba(0,0,0,0.8);
}
.vividDialogContent::-webkit-scrollbar {
  width: 1rem;
}
.vividDialogContent::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background : rgba(0,0,0,0.5);
}
.vividDialogContent::-webkit-scrollbar-button:vertical:decrement {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color : white;
  padding : 0;
  margin : 0;
  border-radius : 10px 10px 0px 0px;
  background : url('/nicerapp/siteMedia/vividDialog/frame_e02_001.png') center;
}
.vividDialogContent::-webkit-scrollbar-button:vertical:increment {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding : 0;
  margin : 0;
  color : white;
  border-radius : 0px 0px 10px 10px;
  background : url('/nicerapp/siteMedia/vividDialog/frame_e03_001.png') center;
}
.vividDialogContent::-webkit-scrollbar-button:horizontal:decrement {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  color : white;
  padding : 0;
  margin : 0;
  border-radius : 10px 0px 0px 10px;
  background : url('/nicerapp/siteMedia/vividDialog/frame_e06_001.png') center;
}
.vividDialogContent::-webkit-scrollbar-button:horizontal:increment {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  padding : 0;
  margin : 0;
  color : white;
  border-radius : 0px 10px 10px 0px;
  background : url('/nicerapp/siteMedia/vividDialog/frame_e07_001.png') center;
}
.vividDialogContent::-webkit-scrollbar-thumb {
  background : url('/nicerapp/siteMedia/backgrounds/tiled/active/blue/blue174.jpg') repeat;
  border-radius : 20px;
}

